---
import PlanCard from "../components/plan-card.astro";
import Layout from "../layout/layout.astro";
---

<Layout title="Nica Kingsley">
  <div class="bg-white py-12 md:py-16">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div
        class="mx-auto flex justify-center flex-col items-center max-w-3xl md:text-center"
      >
        <h3
          class="text-2xl font-bold tracking-tight m-0 text-gray-900 md:text-4xl"
        >
          Your Highest Self
        </h3>
        <div class="max-w-2xl text-lg leading-8 text-gray-600">
          <p>
            Eres capaz de lograr tu mejor versión física y mental, sólo
            necesitas a alguien que te guíe y crea en tu potencial.
          </p>

          <p>
            Mejoraremos tu nutrición y tu nivel de entrenamiento por medio de un
            plan personalizado para ti. ¡Vamos a ello!
          </p>
        </div>
      </div>

      <PlanCard
        link="https://buy.stripe.com/cN22ai9uK8qG6oo6oB"
        included={[
          "Dieta personalizada",
          "Rutina personalizada",
          "Checking cada 4 semanas",
          "Resolver dudas 1 vez a la semana",
          "Acceso a la comunidad Nicakclub",
        ]}
        headline="Págalo Mensual"
        price={66}
        title="COACHING ONLINE XPRESS"
      />

      <PlanCard
        link="https://buy.stripe.com/3cseX436m5eu288fZ5"
        included={[
          "Dieta personalizada",
          "Rutina personalizada",
          "Suplementación",
          "Checking cada 4 semanas",
          "1 zoom al mes con la comunidad Nicakclub",
          "Resolver dudas 2 veces a la semana",
          "Acceso a la comunidad Nicakclub",
        ]}
        headline="Pago único por un mes"
        price={150}
        title="COACHING ONLINE MENSUAL"
      />

      <PlanCard
        link="https://buy.stripe.com/14k7uC8qGcGWdQQ14g"
        included={[
          "Dieta personalizada",
          "Rutina personalizada",
          "Suplementación",
          "Checking cada 4 semanas",
          "1 zoom al mes con la comunidad Nicakclub",
          "1 zoom al mes 1:1 conmigo",
          "Resolver dudas 2 veces a la semana",
          "Acceso a la comunidad Nicakclub",
        ]}
        headline="Pago único por dos meses"
        price={270}
        title="COACHING ONLINE BIMESTRAL"
      />

      <PlanCard
        link="https://buy.stripe.com/aEU3em0Ye6iy288dR5"
        included={[
          "Dieta personalizada",
          "Rutina personalizada",
          "Suplementación",
          "Checking cada 2 semanas",
          "1 zoom al mes con la comunidad",
          "1 zoom al mes 1:1 conmigo",
          "Resolver dudas en cualquier momento",
          "Acceso a la comunidad Nicakclub",
        ]}
        headline="Pago único por tres meses"
        price={395}
        title="COACHING ONLINE TRIMESTRAL"
      />
    </div>
  </div>
</Layout>
