---
import { cn } from "../../utils/cn";
---

<div id="contact">
  <a
    class={cn([
      "block w-screen p-8 italic !text-white font-semibold text-center",
      "bg-primary border-0",
      "hover:bg-secondary",
    ])}
    href="/plans"
    >¡Iniciemos tu cambio ahora! <i
      class={cn(["gdlr-icon-muscle", "text-white"])}></i>
  </a>
</div>
