---
import { cn } from "../../utils/cn";
---

<div class={cn(["gdlr-core-pbf-wrapper"])} id="coaching">
  <div class={cn(["gdlr-core-pbf-background-wrap bg-background"])}>
    <div
      class={cn(["gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"])}
      style="background-size: cover; background-position: center;"
      data-parallax-speed="0"
    >
    </div>
  </div>

  <div class={cn(["gdlr-core-pbf-wrapper-content gdlr-core-js"])}>
    <div
      class={cn([
        "gdlr-core-pbf-wrapper-container clearfix gdlr-core-container",
      ])}
    >
      <div
        class={cn([
          "gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first",
        ])}
        id="gdlr-core-column-8278"
      >
        <div
          class={cn(["gdlr-core-pbf-column-content-margin gdlr-core-js"])}
          style="margin: 0px 0px 0px 80px; padding: 80px 0px 0px 0px;"
        >
          <div class={cn(["gdlr-core-pbf-background-wrap"])}></div>
          <div
            class={cn(["gdlr-core-pbf-column-content clearfix gdlr-core-js"])}
            data-gdlr-animation="fadeInLeft"
            data-gdlr-animation-duration="600ms"
            data-gdlr-animation-offset="0.8"
          >
            <div class={cn(["gdlr-core-pbf-element"])}>
              <div
                class={cn([
                  "gdlr-core-image-item gdlr-core-item-pdb gdlr-core-center-align gdlr-core-item-pdlr",
                ])}
                style="padding-bottom: 0px;"
              >
                <div
                  class={cn([
                    "gdlr-core-image-item-wrap gdlr-core-media-image gdlr-core-image-item-style-rectangle",
                  ])}
                  style="border-width: 0px;"
                >
                  <img
                    src="/why-choose-me.png"
                    alt="11"
                    width="1026"
                    height="1298"
                    title="Left IMG"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class={cn(["gdlr-core-pbf-column gdlr-core-column-30"])}
        id="gdlr-core-column-33076"
        style="z-index: 9;"
      >
        <div
          class={cn(["gdlr-core-pbf-column-content-margin gdlr-core-js"])}
          style="margin-top: 0px; margin-right: 0px; margin-left: -100px; padding-right: 50px;"
        >
          <div class={cn(["gdlr-core-pbf-background-wrap"])}></div>
          <div
            class={cn(["gdlr-core-pbf-column-content clearfix gdlr-core-js"])}
          >
            <div class={cn(["gdlr-core-pbf-element"])}>
              <div
                class={cn([
                  "gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-left-align",
                ])}
                style="margin-bottom: 25px; margin-left: 5px;"
              >
                <div
                  class={cn(["gdlr-core-divider-container"])}
                  style="max-width: 38px;"
                >
                  <div
                    class={cn([
                      "gdlr-core-divider-line gdlr-core-skin-divider",
                    ])}
                    style="
                      transform: skewX(150deg);
                      -webkit-transform: skewX(150deg);
                      border-color: #4c00ff;
                      border-width: 7px;
                      border-radius: 0px;
                      -moz-border-radius: 0px;
                      -webkit-border-radius: 0px;
                    "
                  >
                  </div>
                </div>
              </div>
            </div>
            <div class={cn(["gdlr-core-pbf-element"])}>
              <div
                class={cn([
                  "gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr",
                ])}
              >
                <div class={cn(["gdlr-core-title-item-title-wrap"])}>
                  <h3
                    class={cn([
                      "gdlr-core-title-item-title gdlr-core-skin-title",
                    ])}
                    style="font-size: 84px; font-weight: 700; font-style: italic; letter-spacing: 0px; line-height: 1; color: #ffffff;"
                  >
                    ¡Puedo ayudarte!
                  </h3>
                </div>
              </div>
            </div>
            <div class={cn(["gdlr-core-pbf-element"])}>
              <div
                class={cn([
                  "gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align",
                ])}
                style="padding-bottom: 40px;"
              >
                <div
                  class={cn([
                    "gdlr-core-text-box-item-content text-white font-medium bg-background/75",
                    "lg:p-8",
                  ])}
                  style="font-size: 18px; font-weight: 400; text-transform: none;"
                >
                  <p>
                    Mi objetivo en la vida es recordarle al mundo que todos
                    tenemos una sola vida para vivir, y juntos debemos vivirla
                    al máximo. Creo que lo que más nos une es el poder del
                    sudor, y el trabajar físicamente juntos como equipo.
                  </p>
                </div>
              </div>
            </div>
            <div class={cn(["gdlr-core-pbf-element"])}>
              <div
                class={cn([
                  "gdlr-core-skill-bar-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-size-small gdlr-core-type-rectangle",
                ])}
                style="padding-bottom: 75px;"
              >
                <div class={cn(["gdlr-core-skill-bar"])}>
                  <div
                    class={cn([
                      "gdlr-core-skill-bar-head gdlr-core-title-font",
                    ])}
                    style="font-size: 18px; font-style: normal; font-weight: 700; text-transform: none;"
                  >
                    <span
                      class={cn(["gdlr-core-skill-bar-title"])}
                      style="color: #ffffff;">Nutrición</span
                    >
                    <span
                      class={cn(["gdlr-core-skill-bar-right"])}
                      style="font-style: normal; text-transform: none; color: #ffffff;"
                      >100%</span
                    >
                  </div>
                  <div
                    class={cn(["gdlr-core-skill-bar-progress"])}
                    style="background-color: #2d1662;"
                  >
                    <div
                      class={cn(["gdlr-core-skill-bar-filled gdlr-core-js"])}
                      data-width="100"
                      style="background-color: #4c00ff;"
                    >
                    </div>
                  </div>
                </div>

                <div
                  class={cn(["gdlr-core-skill-bar"])}
                  style="margin-top: 40px;"
                >
                  <div
                    class={cn([
                      "gdlr-core-skill-bar-head gdlr-core-title-font",
                    ])}
                    style="font-size: 18px; font-style: normal; font-weight: 700; text-transform: none;"
                  >
                    <span
                      class={cn(["gdlr-core-skill-bar-title"])}
                      style="color: #ffffff;">Desarrollo muscular</span
                    >
                    <span
                      class={cn(["gdlr-core-skill-bar-right"])}
                      style="font-style: normal; text-transform: none; color: #ffffff;"
                      >100%</span
                    >
                  </div>
                  <div
                    class={cn(["gdlr-core-skill-bar-progress"])}
                    style="background-color: #2d1662;"
                  >
                    <div
                      class={cn(["gdlr-core-skill-bar-filled gdlr-core-js"])}
                      data-width="100"
                      style="background-color: #4c00ff;"
                    >
                    </div>
                  </div>
                </div>

                <div
                  class={cn(["gdlr-core-skill-bar"])}
                  style="margin-top: 40px;"
                >
                  <div
                    class={cn([
                      "gdlr-core-skill-bar-head gdlr-core-title-font",
                    ])}
                    style="font-size: 18px; font-style: normal; font-weight: 700; text-transform: none;"
                  >
                    <span
                      class={cn(["gdlr-core-skill-bar-title"])}
                      style="color: #ffffff;">Mentalidad de campeón</span
                    >
                    <span
                      class={cn(["gdlr-core-skill-bar-right"])}
                      style="font-style: normal; text-transform: none; color: #ffffff;"
                      >100%</span
                    >
                  </div>
                  <div
                    class={cn(["gdlr-core-skill-bar-progress"])}
                    style="background-color: #2d1662;"
                  >
                    <div
                      class={cn(["gdlr-core-skill-bar-filled gdlr-core-js"])}
                      data-width="100"
                      style="background-color: #4c00ff;"
                    >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
