---
import { cn } from "../utils/cn";
---

<footer class={cn(["bg-background"])}>
  <div
    class={cn([
      "container mx-auto flex flex-col items-center text-center w-full justify-center p-8",
      "lg:min-h-20",
    ])}
  >
    <img alt="logo" class={cn(["w-12"])} src="/cp.svg" />
    <div class={cn(["mt-2 text-sm"])}>
      Copyright © 2024 Coaches Project, LLC.
    </div>
  </div>
</footer>
